<h1>{{title}}</h1>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th *ngFor="let p of players">{{p}}</th>
                        </tr>
                        <tr *ngFor="let d of temp_descs">
                            <td>{{d}}</td>
                            <td *ngFor="let p of players">0</td>
                        </tr>
                    </thead>
                </table>
                <div class="bs-component panel-body text-center">
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#myModal">
                            Add Round
                    </button>
                    <button
                        type="button"
                        class="btn btn-success">
                            Start Game
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            
                            <form role="form">
                                <div class="form-group">
                                    <label for="text_selector">Selektor</label>
                                    <select 
                                        class="form-control"
                                        id="select"
                                        name="text_selector"
                                        [(ngModel)]="curr_selector">
                                            <option *ngFor="let s of selectors">{{s}}</option>
                                    </select>
                                </div>

                                <!-- TODO: HORRIBLE WITH VALUE COMPARISON!!! CHANGE!!! -->
                                <div class="form-group" *ngIf="curr_selector==='Der/Das'">
                                    <label for="color">Farbe</label>
                                    <select
                                        class="form-control"
                                        id="select"
                                        name="color_select"
                                        [(ngModel)]="curr_color">
                                            <option *ngFor="let c of colors">{{c}}</option>
                                    </select>
                                    <label for="value_select">Karte</label>
                                    <select
                                        class="form-control"
                                        id="select"
                                        name="card_select"
                                        [(ngModel)]="curr_card">
                                            <option *ngFor="let c of cards">{{c}}</option>
                                    </select>
                                </div>

                                <!-- Preis -->
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">Kosten</label>
                                    <input class="form-control" id="focusedInput" type="text" name="name" [(ngModel)]="curr_cost">
                                </div>
                            </form>

                            <div class="form-group">
                                {{curr_selector}} {{curr_color}} {{curr_card}} kostet {{curr_cost}}
                                <span *ngIf="curr_cost!==''">CHF</span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                                (click)="done()">
                                    Done
                            </button>
                        </div>
                    </div>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>